############################
# BUILD (MUITO IMPORTANTE)
############################
target/
build/
out/
.gradle/

############################
# JAVA / SPRING
############################
*.class
*.log
*.jar
*.war

############################
# MAVEN / WRAPPER
############################
.mvn/wrapper/maven-wrapper.jar

############################
# IDEs
############################

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
.springBeans
.sts4-cache

############################
# SISTEMA
############################
.DS_Store
Thumbs.db

############################
# AMBIENTE
############################
.env

############################
# LOGS
############################
logs/